header{
    position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
		width: 100%;
		left:0;
		right: 0;
		z-index: 99999;
        background-color: aqua;
        height: 100px;

}
.container{
    width: 80%;
    text-align: center;
    margin-top: 30px;
    position: fixed;
}
h5{
    font-size: xx-large;
    font-family:Courier;
    
    margin-top: 30px;
   
}
.butongroup{
   
    position: fixed;
    float: right;
    width: 300px;
    padding: 10px;
    top: 100px;
    height: 840px;
    border-style: solid;
    }
    .btn.btn-primary.btn-lg{
        width: 270px;
        margin:10px;
        
    }

    .tablediv{
        
        height: 830px;
        top: 150px;
    
        left: 321px;
        width: 1250px;
        position: fixed;
        padding: 5px;
        

    }
    .tabledivgame{
        
      height: 830px;
      top: 150px;
  
      left: 321px;
      width: 1650px;
      position: fixed;
      padding: 5px;
      

  }
  .newbutton{
     background-color: chartreuse;
  }
  .modal-header{
    background-color: aqua;
  }
  .card{
    position:fixed;
    top: -550px;
    left: 1250px;
    width: 1250px;
    background-color: blueviolet;    
        
  }
  
  .cards{
    position:fixed;
    top: 150px;
    left: 1541px;
    width: 1250px;
     
  }
 